# Admin Frontend Configuration
PORT=4000

# Admin Backend API Configuration
# URL of the admin backend API
REACT_APP_API_URL=http://localhost:5498/api

# Application Mode
# Set to: development, staging, production
REACT_APP_ENVIRONMENT=development
REACT_APP_VERSION=1.0.0
